* {
padding: 0; 
margin: 0;
font: Helvetica;
background-color: gainsboro;
box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
}
label {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    margin: 5px;
}

input{
    margin-left: 10px;
    border-radius:2px;
    background-color: whitesmoke;
}

input:focus{
    background-color: antiquewhite;
}

button{
    flex-direction: row;
    border-radius: 5%;
    margin: 5px;
    width: 150px;
    background-color: coral;
    box-shadow: 5px 2px 2px rgb(63, 61, 61);
}

header {
    display: flex;
    justify-content: center;
}

.title {
    width:90%;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(63, 61, 61);
    font-size: 30px;
    background-color: lightcoral;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: rgb(169, 117, 217);
    box-shadow: 10px 5px 5px rgb(63, 61, 61);
    border-radius: 5px;
    width:98%;
    column-count: var(--n-col);
    display: inline-block;
}

p{  
    margin: 5px;
    background-color: rgb(169, 117, 217);
}
