*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
    color:whitesmoke;
}
.nav-link{
    text-decoration: none;
}
 
body{
    counter-reset: my-counter;
}
.container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    margin-left: 25%;
    width: 700px;
}
body .image:before{
    content: counter(my-counter);
    counter-increment: my-counter;
}

.text {
    width: 400px;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(57, 16, 98);
}
.title{
    background-color: rgb(57, 16, 98);
    border-radius: 4px;
}

.image {
    display: flex;
    margin: 10px;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    background-color:cadetblue;
}

.topic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 420px;
    height:100px;
    background-color: rgb(57, 16, 98);
    border-radius: 4px;
}

.topic-t2{
    /* display: flex;*/
    flex-flow: row;
    flex-flow: wrap; 
    margin: 20px;
    width: 400px;
}

.image-t2{
    display: flex;
    float: left;
    margin: 10px;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    background-color:cadetblue;
}

.title-t2{
    transform: translate(430%,-600%);
    width: 50px;
    height:20px;
}

.text-t2{
    margin-top: 5px;;
}

.back-button{
    font-size: 30px;
    margin:150px;
    color: rgba(0, 0, 255, 0.759);
}